@import "tailwindcss";

:root {
  --primary-color: #7695ec;
  --secondary-color: #47b960;
  --tertiary-color: #ff5151;
}

@layer base {

  html {
    font-family: "Roboto", sans-serif;
  }
  
  h1, h2 {
    @apply font-bold text-[22px];
  }
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary-color);
  }

  .bg-secondary {
    background-color: var(--secondary-color);
  }

  .bg-tertiary {
    background-color: var(--tertiary-color);
  }
}
